extends layout

block content
  .container
    header
      a(href=feed.feed_url, target='new').btn.btn-primary.pull-right
        b Subscribe 
        span.octicon.octicon-rss
      h1 
        if feed.image_url
          .feed-image
            img(src=feed.image_url)
            
        span #{feed.title}       
    .content
      ul.itemlist.list-group
        each item in feed.items
          li.list-group-item(id=item.guid)
            span.item-text #{item.title}
            div.buttons.pull-right
              button.btn.btn-primary.octicon.octicon-playback-play.item-play-button(type=button data-url=item.enclosure.url)
              | &nbsp;
              a.btn.btn-primary.btn-sm(href=item.enclosure.url)
                span.glyphicon.glyphicon-save

    include player
